td, th { 
  padding: 4pt 6pt 2pt;
  vertical-align: top;
  text-align: left;
  border: 1px solid #AAAAAA;
  width: 25%;
}

table {
  border-collapse: collapse;
}

body {
  padding: 24px;
}

#result {
  margin-top: 12px;
}
